{% extends 'base.html' %}
{% load static %}


{% block body %}

<div>
    <p class="text_center my_search_text"> You have searched for :<b>"{{query}}"</b></p>


</div>
 <div class="container">
                <div class="row mx_auto">
                    {% for movie in movie %}

                        <div class="card text-center" style="width:1400px;margin-top:10px;">
                            <a href="{{movie.get_url}}"><img class="card-img-top my_pro" src="{{movie.image.url}}" alt="{{movie.name}}" width="500px;" height="430px;"></a>
                            <div class="card-body">
                                <h4>{{movie.name}}</h4>
                                <p>{{movie.year}}</p>
                                <div class="container">
                                    <p>{{movie.desc}}</p>
                                </div>
                            </div>
                        </div>

                    {% empty %}
                    <div class="row mx-auto">
                        <p class="text-center my_search_text">0 results found</p>

                    </div>
                    {% endfor %}
                </div>
 </div>
{% endblock %}